.lt_nav {
    padding: 10px;
}

.lt_nav li {
    float: left;
    width: 33.3%;
}

.lt_nav li a {
    display: block;
}

.lt_product {
    padding: 10px;
}

.lt_product li {
    float: left;
    width: 48%;
    margin-bottom: 15px;
}

.lt_product li:nth-child(even) {
    margin-left: 4%;
}

.lt_product li a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.lt_product li a p .oldPrice {
    text-decoration: line-through;
}

.lt_product li a p .price{
    color: red;
}